RewriteEngine On

# Hide .php extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# Exact matches for cloned site
RewriteRule ^find-suppliers/?$ industries.php [L]
RewriteRule ^membership-directory/?$ industry.php [L]
RewriteRule ^add-listing/?$ contact.php [L]
RewriteRule ^browse-supplier-category/?$ industries.php [L]
